<div class="col-md-9 col-offset-3" id="index-profile">

      <li class="users">
        <div class="col-xs-3 profilepic-container">
          <%= image_tag user.avatar.url %>
        </div>
        <%= link_to user.username, user %>
        <% if current_user.admin? && !current_user?(user) %>
         | <%= link_to "delete", user, method: :delete,
                                       data: { confirm: "You sure?" } %>
          <% end %>
      </li>

</div>
