<% provide(:title, 'All users') %>

<h1> All Users </h1>

<span class="paginate"><%= will_paginate %></span>

<ul class="users">
    <%= render @users %>
</ul>

<span class="paginate"><%= will_paginate %></span>
