<% provide(:title, @user.first_name) %>
<div class="container-fluid">
<div class="col-xs-3 profilepic-container">
 <%= image_tag @user.avatar.url %>

</div>

<div class="col-xs-9">
  <%= @user.first_name %> <%= @user.last_name %>, <%= @user.email %>
</div>
